.ingredient-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 480px;
    height: 240px;
    object-fit: contain;
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 32px;
    text-align: center;
  }

  &__nutrients {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  &__nutrient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-width: 112px;
  }
}
