.constructor {
  width: 600px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.components {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bun {
  margin-left: 32px;
  margin-right: 8px;
}

.fillings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 536px);
  overflow-y: auto;
  margin-left: 32px;
  margin-right: 8px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #2F2F37;
  }

  &::-webkit-scrollbar-thumb {
    background: #8585AD;
  }
}

.fillingWithContent {
  margin-left: 0;
  margin-right: 8px;
}

.filling {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  padding-right: 16px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    width: 36px;
    height: 36px;
  }
}

.dropTarget {
  width: 100%;
  height: 80px;
  background: #2F2F37;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  box-sizing: border-box;

  p {
    text-align: center;
    color: #8585AD;
  }
}

.placeholder {
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  background: #2F2F37;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-sizing: border-box;
}

.highlighted {
  background: #1C1C21;
  border: 2px solid #4C4CFF;
  box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
  inset 0px 0px 8px rgba(51, 51, 255, 0.25);
}

.bunTop {
  border-radius: 88px 88px 40px 40px;
}

.bunBottom {
  border-radius: 40px 40px 88px 88px;
}
